:root{
    --color1: black;
    --color2: black;
}

body{
    background: linear-gradient(to right, #85929e, ##f5b041);
}

.container{
    margin-top: 30px;
    background: cyan;
    box-shadow: 3px 3px 20px rgba(0,0,0,.3);
    padding: 25px;
    border-radius: 10px;
    max-width: 1500px;
}

/* .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    max-width: 1500px;
} */

.container table{
    width: 100%;
    border-color: green;
}

.container table thead{
    vertical-align: middle;
    border-bottom-color: green;
}

.container table thead th,
.container table tfoot th{
    border-right-color: black ;
}

.container table thead th:first-child,
.container table tfoot th:first-child{
    border-left-color: white;
}

.container table thead th:last-child,
.container table tfoot th:last-child{
    border-right-color: green;
}

table thead tr th,
table tbody tr td,
table tfoot tr th{
    text-align: left !important;
}

table thead th:last-child{
    pointer-events: none;
}

table thead th:last-child .dt-column-order{
    display: none;
}





table tbody tr{
    cursor: pointer;
}

table tbody tr:nth-child(even){
    background: cyan !important;
}

table tbody tr:hover{
    background:  !important;
    color: #fff;
}

table tbody tr:hover td:not(:last-child){
    border-right-color: #fff;
}

table tbody tr td{
    vertical-align: middle;
    white-space: nowrap;
}

table tbody tr td:first-child{
    font-weight: 600;
    text-align: center !important;
}

table tbody .dt-empty{
    text-align: center !important;
}

table thead tr,
table tfoot tr{
    background: #c83030;
    color: #fff;
}

tbody tr td:last-child,
thead tr th:last-child,
tfoot tr th:last-child{
    width: 160px;
}





.pagination .dt-paging-button.active .page-link{
    background: #c83030 !important;
    box-shadow: none;
    border-color: #c83030;
}

.pagination .dt-paging-button  .page-link{
    border-color: #922e31;
}

.dt-length .form-select{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Optional: just in case */
}

.dt-scroll-body{
    border-bottom: none !important;
}

.container table tbody tr:last-child{
    border-bottom-color: ;
}

.btn{
    padding: 0;
    margin-bottom: 5px;
}

.btn button{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
    background: #c83030;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.btn button i{
    font-size: 18px;
}

.dt-length label, 
.dt-info{
    color: #c63030;
    font-weight: 600 !important;
}

#dt-search-0{
    border-color: white;
    box-shadow: none;
}

#dt-length-0{
    border-color: #c83030;
    box-shadow: none;
}


.actionBtn{
    border: none;
    outline: none;
    background: #c83030;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 17px;
}

tbody tr:hover .actionBtn{
    background: #fff;
    color: #c83030;
}






/* Modal */
.modal-header{
    background: ;
    color: blue;
}

.cross{
    color: blue;
    border: none;
    outline: none;
    font-size: 25px;
    background: transparent;
}

.modal span{
    color: blue;
    font-size: 18px;
}


.submitBtn{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
    background: green;
    color: #fff;
    font-weight: 600;
}